* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(243, 241, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    margin-bottom: 300px;

}

.card-pai {
    background-color: white;
    padding: 40px;
    border-radius: 10px
}

h1 {
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    color: rgb(0, 0, 75);
}

.card-pai>h4 {
    margin-bottom: 30px;
    font-family: "Montserrat", sans-serif;
    color: rgb(0, 0, 75);
}

#input-email {
    padding: 20px 220px 20px 10px;
    border-radius: 5px
}

.card-pai input {
    all: unset;
    border: 1px solid rgb(195, 195, 195);
    font-family: "Montserrat", sans-serif;
}

.card-pai input:focus {
    box-shadow: 0px 4px 24px 0px rgba(0, 128, 128, 0.25);
}

.card-pai input {
    margin-bottom: 20px;
}

.password-block {
    display: flex;
    align-items: center;
}

.password-block>h4 {
    color: teal;
    display: flex;
    justify-content: space-between;
    margin-right: 93px;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder
}

.next-btn button {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: teal;
    border: 0px;
    border-radius: 5px;
    color: white;
    font-family: "Montserrat", sans-serif;
}

.next-btn button:hover {
    background-color: cornflowerblue
}

.arrow {
    margin-left: 10px;
}

.line {
    margin-top: 40px;
    border: 1px solid rgb(195, 195, 195);
}

h6 {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.socials {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.facebook {
    display: flex;
    align-items: center;
    border: 1px solid rgb(195, 195, 195);
    padding: 10px 30px;
}

.facebook>h4 {
    margin-left: 13px;
    font-family: "Montserrat", sans-serif;
}

.google {
    display: flex;
    align-items: center;
    border: 1px solid rgb(195, 195, 195);
    padding: 10px 30px;
    font-family: "Montserrat", sans-serif;
}

.google>h4 {
    margin-left: 13px;
}

.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up>h5 {
    margin-right: 10px;
    font-family: "Montserrat", sans-serif;
    color: rgb(0, 0, 75);
}

.sign-up a {
    color: rgba(1, 139, 194);
    font-family: "Montserrat", sans-serif;
}

.socials button:hover {
    background-color: rgb(214, 220, 231);
}